[submodule "Hazel/Vendor/Spdlog"]
	path = Hazel/Vendor/Spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazel/Hazel/Vendor/spdlog"]
	path = Hazel/Hazel/Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazel/Hazel/Vendor/GLFW"]
	path = Hazel/Hazel/Vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Hazel/Hazel/Vendor/imgui"]
	path = Hazel/Hazel/Vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Hazel/HazelVendor/glm"]
	path = Hazel/HazelVendor/glm
	url = https://github.com/g-truc/glm
[submodule "Hazel/Hazel/Vendor/glm"]
	path = Hazel/Hazel/Vendor/glm
	url = https://github.com/g-truc/glm
